.parent {
  overflow: hidden;
}

.parent>img {

  transition: all 0.3s ease
}

.parent .text {
  position: absolute;
  background-color: rgba(255, 0, 0, 0.2);
  color: #fff;
  opacity: 0;
  transition: all 0.3s ease;
  padding-top: 150px;
  text-align: center;
  font-size: 30px;
  z-index: 2;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.parent .work2text {
  background-color: rgba(0, 0, 255, 0.2);
}

.parent .work3text {
  background-color: rgba(255, 0, 0, 0.2);
}

.parent .work4text {
  background-color: rgba(255, 165, 0, 0.4);
}

.parent .work5text {
  background-color: rgba(0, 0, 0, 0.7);
}

.parent .work6text {
  background-color: rgba(60, 179, 113, 0.7);
}

.parent .work7text {
  background-color: rgba(0, 0, 255, 0.2);
}

.parent .work8text {
  background-color: rgba(0, 0, 255, 0.2);
}


.parent:hover>img {
  transform: scale(1.3)
}

.parent:hover>.text {
  opacity: 1;

}