.nav-row {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hamburger-toggle {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  /* Decreased width */
  height: 30px;
  /* Decreased height */
  appearance: none;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.hamburger-toggle.open .line--top {
  transform: translateY(5px) rotate(45deg);
  /* Adjusted for smaller size */
}

.hamburger-toggle.open .line--middle {
  opacity: 0;
}

.hamburger-toggle.open .line--bottom {
  transform: translateY(-5px) rotate(-45deg);
  /* Adjusted for smaller size */
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  width: 20px;
  /* Decreased width */
  height: 12px;
  /* Decreased height */
}

.line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: white;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.line--middle {
  width: 80%;
}

.line--bottom {
  width: 100%;
}

.offcanvas {
  position: fixed;
  top: 100px;
  z-index: 50;
  font-size: 50px;
  color: black;
  font-weight: bold;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.has-offcanvas .offcanvas {
  pointer-events: auto;
  opacity: 1;
  transform: none;
}

@media screen and (min-width: 1400px) {
  .offcanvas-nav__item {
    font-size: 64px;
  }
}

.offcanvas-nav__item+.offcanvas-nav__item {
  margin-top: 15px;
}

.offcanvas-nav__link {
  color: black;
  text-decoration: none;
}

.toggle-circle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
  width: 30px;
  /* Decreased width */
  height: 30px;
  /* Decreased height */
  padding: 0px;
}

.hamburger-toggle__circle {
  width: 40px;
  /* Decreased width */
  height: 40px;
  /* Decreased height */
  fill: white;
  pointer-events: none;
  transform: scale(1) translateZ(0);
  transform-origin: center;
  transition: transform 1s;
}

.toggle-circle .row {
  text-align: end;
}

.has-offcanvas .hamburger-toggle__circle {
  transform: scale(110) translate3d(0, 0, 0);
  /* Increased scale to cover screen */
}